CREATE DATABASE [QL_QUANCAFE]
GO
USE [QL_QUANCAFE]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](100) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](1000) NOT NULL,
	[TYPEACCOUNT] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMETABLE] [nvarchar](100) NOT NULL,
	[NAMEFOOD] [nvarchar](100) NOT NULL,
	[COUNTS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[IDSTAFF] int NOT NULL,
	[NAMESTAFF] [nvarchar](100) NOT NULL,
	[NUMBER] [nvarchar](10) NOT NULL,
	[ADDRESS] [nvarchar](1000) NOT NULL,
	[SHIFTTYPE] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	IDSTAFF ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[IDCUSTOMER] int NOT NULL,
	[NAMECUSTOMER] [nvarchar](100) NOT NULL,
	[NUMBER] [nvarchar](10) NOT NULL,
	[ADDRESS] [nvarchar](1000) NOT NULL,

PRIMARY KEY CLUSTERED 
(
	IDCUSTOMER ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT](
	[SHIFTTYPE] [nvarchar](100) NOT NULL,
	[SALARY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	SHIFTTYPE ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINFO](
	[ID] [int] NOT NULL,
	[NAMETABLE] [nvarchar](100) NOT NULL,
	[TIMECHECKOUT] [time] NOT NULL,
	[DATECHECKOUT] [date] NOT NULL,
	[COUNTS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDBILL](
	[IDBILLINFO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBILLINFO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[NAME] [nvarchar](100) NOT NULL,
	[NAMECATEGORY] [nvarchar](100) NOT NULL,
	[PRICE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/11/2022 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLEF](
	[NAME] [nvarchar](100) NOT NULL,
	[STT] [nvarchar](10) NOT NULL,
	[TOTAL] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'admin', N'Quản Lý 1', N'1', N'ADMIN')
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'admin2', N'Quản Lý 2', N'1', N'ADMIN')
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'user', N'Nhân viên', N'1', N'CASHIER')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'CAFE')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'Kem')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'Nước ngọt')
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'7 up', N'Nước ngọt', 10000)
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'CF đá', N'CAFE', 10000)
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'CF đen', N'CAFE', 10000)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 01', N'OFFLINE', 0)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 02', N'OFFLINE', 0)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 03', N'OFFLINE', 0)
INSERT [dbo].[IDBILL] ([IDBILLINFO]) VALUES (115)
INSERT [dbo].[SHIFT] ([SHIFTTYPE],[SALARY]) VALUES ('FULLTIME',9000000)
INSERT [dbo].[SHIFT] ([SHIFTTYPE],[SALARY]) VALUES ('PARTTIME',3000000)
INSERT [dbo].[STAFF] ([IDSTAFF], [NAMESTAFF], [NUMBER],[ADDRESS],[SHIFTTYPE]) VALUES (199112, N'Nguyễn Văn A','0986777888',N'320 Cầu Giấy,Hà nội','FULLTIME')
INSERT [dbo].[STAFF] ([IDSTAFF], [NAMESTAFF], [NUMBER],[ADDRESS],[SHIFTTYPE]) VALUES (199113, N'Nguyễn Văn B','0333888999',N'347 Cổ nhuế ,Bắc từ liêm,Hà nội','PARTTIME')
INSERT [dbo].[CUSTOMER] ([IDCUSTOMER], [NAMECUSTOMER], [NUMBER],[ADDRESS]) VALUES (3012, N'Nguyễn Thị Thanh Nhàn','033858146',N'521 Cổ nhuế ,Bắc từ liêm,Hà nội')
INSERT [dbo].[CUSTOMER] ([IDCUSTOMER], [NAMECUSTOMER], [NUMBER],[ADDRESS]) VALUES (3013, N'Trần Đức Thịnh','012345679',N'120 Cổ nhuế ,Bắc từ liêm,Hà nội')
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (N'NO NAME..') FOR [DISPLAYNAME]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('0000') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (N'CASHIER') FOR [TYPEACCOUNT]
GO
ALTER TABLE [dbo].[BILL] ADD  DEFAULT ((1)) FOR [COUNTS]
GO
ALTER TABLE [dbo].[FOOD] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[TABLEF] ADD  DEFAULT (N'OFFLINE') FOR [STT]
GO
ALTER TABLE [dbo].[TABLEF] ADD  DEFAULT ((0)) FOR [TOTAL]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([NAMETABLE])
REFERENCES [dbo].[TABLEF] ([NAME])
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([NAMEFOOD])
REFERENCES [dbo].[FOOD] ([NAME])
GO
ALTER TABLE [dbo].[FOOD]  WITH CHECK ADD FOREIGN KEY([NAMECATEGORY])
REFERENCES [dbo].[CATEGORY] ([NAME])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([SHIFTTYPE])
REFERENCES [dbo].[SHIFT] ([SHIFTTYPE])
GO
